{% load static %}
<link rel="stylesheet" href="{% static 'css/mainTable.css' %}" />

<div class="table-bar">
  <table>
    <thead>
      <tr>
        <th>案號</th>
        <th>兩週內</th>
        <th>負責人</th>
        <th>最終判定</th>
        <th>執行結果</th>
        <th>優購結果</th>
        <th>標的編號</th>
      </tr>
    </thead>
    <tbody>
      {% for yfcase in object_list %}
      <tr>
        <td>
          <a href="{% url 'yfcase:yfcase_detail' yfcase.id %}">
            {{yfcase.yfcaseCaseNumber}}
            <br>
            &emsp;&#10149;{{yfcase.fullAddress}}
          </a>
        </td>
        <td>13</td>
        <td>{{ yfcase.user.userFullName }}</td>
        <td>3拍進場</td>
        <td>待標</td>
        <td>待優購</td>
        <td>
          KH001
          <a href="javascript:void(0)" onclick="yfcase_modal_delete('{% url 'yfcase:yfcase_delete' yfcase.id %}')" class="btn btn-outline-danger btn-sm delete-btn">
			      <i class="fas fa-trash-alt fa-lg"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="deleteYfcaseModal" role="dialog"></div>

<script>
  /* global $*/
  $(function() {
    $('.class_on_first_link').click(function(){
      window.location = window.location.protocol + '//' + window.location.hostname + ':3000';
    });
  });

  function yfcase_modal_delete(url) {
    $('#deleteYfcaseModal').load(url,function() {
      $(this).modal('show')
    })
  }

  function gohome(){
    window.location.hostname
  }

</script>


