{% load static %}
<link rel="stylesheet" href="{% static 'css/mainTable.css' %}" />

<div class="table-bar">
  <table>
    <thead>
      <tr>
        <th>案號</th>
        <th>兩週內</th>
        <th>負責人</th>
        <th>最終判定</th>
        <th>執行結果</th>
        <th>優購結果</th>
        <th>標的編號</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>天字第220292348924282923424號<br>台南市佳里區仁愛路一段28鄰329巷11弄33號11樓之2</td>
        <td>13</td>
        <td>吳小毛</td>
        <td>3拍進場</td>
        <td>待標</td>
        <td>待優購</td>
        <td>KH001</td>
      </tr>
      <tr>
        <td>天字第2202924282923424號</td>
        <td>13</td>
        <td>吳小毛</td>
        <td>3拍進場</td>
        <td>待標</td>
        <td>待優購</td>
        <td>KH001</td>
      </tr>
    </tbody>
  </table>
</div>

