{% load humanize %}
{% load urlify %}
<div class="col" style="padding:0px;">
  <table class="yfratingscalePDFObjectBuild">
    <!--標題列(start)-->
    <tr>
      <th style="width:10px;">操作</th>
      <th style="width:100px;">Google地圖</th>
      <th>地址<br>屋齡(年)<br>樓高<br>成交日期</th>
      <th>總價(元)</th>
      <th>建坪(坪)</th>
      <th>單價(元)</th>
      <th colspan=3>勘查員</th>
      <th>原因</th>
      <th>加成<br>係數</th>
      <th>計算</th>
    </tr>
    <!--標題列(end)-->
    
    {% for objectbuild in object.objectbuilds.all %}
    <tr>
      <!--Edit/Delete鈕(start)-->
      <td rowspan=3>
        <!--Edit鈕(start)-->
        <div style="border:3px solid LimeGreen;background-color:LightGreen;padding:3px 0px;border-radius:5px;">
          <a href="javascript:void(0)" onclick="land_modal_edit('{% url 'yfcase:objectbuild_edit' objectbuild.id %}')">
            <span class="fa-stack" style="color:DarkGreen;">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-pen fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <!--Edit鈕(end)-->
        <!--Delete鈕(start)-->
        <div style="border:3px solid IndianRed;background-color:LightCoral;padding:3px 0px;border-radius:5px;">
          <a href="javascript:void(0)" onclick="land_modal_delete('{% url 'yfcase:objectbuild_delete' objectbuild.id %}')">
            <span class="fa-stack" style="color:DarkRed;">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-trash fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <!--Delete鈕(end)-->
      </td>
      <!--Edit/Delete鈕(end)-->
      
      <!--Google地圖/現場勘查(start)-->
      <td rowspan=3>
        {% if objectbuild.objectBuildGoogleMap %}
        <div style="border:3px solid #0275d8;padding:3px 0px;border-radius:5px;">
          <a href="{{ objectbuild.objectBuildGoogleMap }}" target="_blank">
            <i class="fas fa-street-view fa-2x"></i><br>
            <small>Google地圖</small>
          </a>
        </div>
        {% endif %}
        {% if objectbuild.objectBuildUrl %}
        <div style="border:3px solid #0275d8;padding:3px 0px;border-radius:5px;">
          <a href="{{ objectbuild.objectBuildUrl }}" target="_blank">
            <i class="fas fa-video fa-2x"></i></i><br>
            <small>現場勘查</small>
          </a>
        </div>
        {% endif %}
      </td>
      <!--Google地圖/現場勘查(end)-->
      
      <!--住址/屋齡/樓高/成交日期(start)-->
      <td rowspan=3>
        {{ objectbuild.objectBuildAddress|default_if_none:"" }}<br>
        {{ objectbuild.objectBuildHouseAge|default_if_none:"" }}<br>
        {{ objectbuild.objectBuildFloorHeight|default_if_none:"" }}<br>
        {{ objectbuild.objectBuildTransactionDate|default_if_none:"" }}
      </td>
      <!--住址/屋齡/樓高/成交日期(end)-->
      
      <!--總價(start)-->
      <td rowspan=3>
        {{ objectbuild.objectBuildTotalPrice|floatformat:0|intcomma }}
      </td>
      <!--總價(end)-->
       
      <!--建坪(start)-->
      <td rowspan=3>
        {{ objectbuild.objectBuildBuildArea }}
      </td>
      <!--建坪(end)-->
      
      <!--坪價(start)-->
      <td rowspan=3>
        {{ objectbuild.get_objectbuild_ping_price|floatformat:0|intcomma }}
      </td>
      <!--坪價(end)-->
      
      <!--加成人員A-該員已評/該員未評(start)-->
      <td>
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
        {% if objectbuild.objectBuildScorerA == None %}
        {% if request.user.userFullName == objectbuild.objectBuildScorerB or request.user.userFullName == objectbuild.objectBuildScorerC %}
        <div style="color:brown;">該員已評</div>
        {% endif %}
        {% else %}
        {{ objectbuild.objectBuildScorerA }}
        {% endif %}
        {% else %}
        {% if objectbuild.objectBuildScorerA == None %}
        {% if request.user.userFullName == objectbuild.objectBuildScorerB %}
        <div style="color:brown;">該員已評</div>
        {% endif %}
        {% else %}
        {{ objectbuild.objectBuildScorerA }}
        {% endif %}
        {% endif %}
      </td>
      <!--加成人員A-該員已評/該員未評(end)-->
      
      <!--加成人員A刪除(start)-->
      <td style="width:4%;">
        {% if objectbuild.objectBuildScorerA != None %}
          <!-- 如果登入者=案件建立者或是管理者，就執行下列的動作 -->
          {% if request.user.userFullName == object.get_user_username or request.user.userFullName == "管理者" %}
            <a href="javascript:void(0)" onclick="land_modal_delete('{% url 'yfcase:score_a_delete' objectbuild.id %}')">
              <span class="fa-stack" style="color:DarkRed;">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-trash fa-stack-1x"></i>
              </span>
            </a>
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員A刪除(end)-->
      
      <!--加成人員A編輯(start)-->
      <td style="width:4%;">
        {% if objectbuild.objectBuildScorerA == request.user.userFullName or objectbuild.objectBuildScorerA == None %}
          {% if objectbuild.objectBuildScorerB != request.user.userFullName and objectbuild.objectBuildScorerC != request.user.userFullName %}
            <a href="javascript:void(0)" onclick="land_modal_edit('{% url 'yfcase:score_a_edit' objectbuild.id %}')">
              <span class="fa-stack" style="color:DarkGreen;">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-pen fa-stack-1x"></i>
              </span>
            </a>
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員A編輯(end)-->
      
      <!-- 測試加成A項目係數顯示格式(start) -->
      <td>
        <!-- 測試加成項目係數顯示格式 -->
        {% if objectbuild.plusItemA1 %}
          {% if objectbuild.plusValueA1 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueA1 }}){{ objectbuild.plusItemA1 }}<br></div>
          {% elif objectbuild.plusValueA1 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueA1|zeroNegative }}){{ objectbuild.plusItemA1 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemA2 %}
          {% if objectbuild.plusValueA2 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueA2 }}){{ objectbuild.plusItemA2 }}<br></div>
          {% elif objectbuild.plusValueA2 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueA2|zeroNegative }}){{ objectbuild.plusItemA2 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemA3 %}
          {% if objectbuild.plusValueA3 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueA3 }}){{ objectbuild.plusItemA3 }}<br></div>
          {% elif objectbuild.plusValueA3 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueA3|zeroNegative }}){{ objectbuild.plusItemA3 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemA4 %}
          {% if objectbuild.plusValueA4 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueA4 }}){{ objectbuild.plusItemA4 }}<br></div>
          {% elif objectbuild.plusValueA4 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueA4|zeroNegative }}){{ objectbuild.plusItemA4 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemA5 %}
          {% if objectbuild.plusValueA5 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueA5 }}){{ objectbuild.plusItemA5 }}<br></div>
          {% elif objectbuild.plusValueA5 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueA5|zeroNegative }}){{ objectbuild.plusItemA5 }}<br></div>
          {% endif %}
        {% endif %}

        {% if objectbuild.plusItemOtherA %}
          {% if objectbuild.plusValueOtherA >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueOtherA }}){{ objectbuild.plusItemOtherA }}<br></div>
          {% elif objectbuild.plusValueOtherA < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueOtherA|zeroNegative }}){{ objectbuild.plusItemOtherA }}<br></div>
          {% endif %}
        {% endif %}
      </td>
      <!-- 測試加成A項目係數顯示格式(end) -->
      
      <!--加成係數A(start)-->
      <td>
        {% if objectbuild.objectBuildScorerA != None %}
        {{ objectbuild.get_a_plus_value|floatformat:2 }}
        {% endif %}
      </td>
      <!--加成係數A(end)-->
      
      <!--計算加成後平圴坪價(start)-->
      <td rowspan=3>
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
          {{ objectbuild.get_objectbuild_ping_price_abc_calculation|floatformat:0|intcomma }}
        {% else %}
          {{ objectbuild.get_objectbuild_ping_price_ab_calculation|floatformat:0|intcomma }}
        {% endif %}
      </td>
      <!--計算加成後平圴坪價(end)-->
    </tr>
    <tr>
      <!--加成人員B-該員已評/該員未評(start)-->
      <td>
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
          {% if objectbuild.objectBuildScorerB == None %}
            {% if request.user.userFullName == objectbuild.objectBuildScorerA or request.user.userFullName == objectbuild.objectBuildScorerC %}
              <div style="color:brown;">該員已評</div>
            {% endif %}
          {% else %}
            {{ objectbuild.objectBuildScorerB }}
          {% endif %}
        {% else %}
          {% if objectbuild.objectBuildScorerB == None %}
            {% if request.user.userFullName == objectbuild.objectBuildScorerA %}
              <div style="color:brown;">該員已評</div>
            {% endif %}
          {% else %}
            {{ objectbuild.objectBuildScorerB }}
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員B-該員已評/該員未評(end)-->
      
      <!--加成人員B刪除(start)-->
      <td style="width:4%;">
        {% if objectbuild.objectBuildScorerB != None %}
          <!-- 如果登入者=案件建立者或是管理者，就執行下列的動作 -->
          {% if request.user.userFullName == object.get_user_username or request.user.userFullName == "管理者" %}
          <a href="javascript:void(0)" onclick="land_modal_delete('{% url 'yfcase:score_b_delete' objectbuild.id %}')">
            <span class="fa-stack" style="color:DarkRed;">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-trash fa-stack-1x"></i>
            </span>
          </a>
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員B刪除(end)-->
      
      <!--加成人員B編輯(start)-->
      <td style="width:4%;">
        {% if objectbuild.objectBuildScorerB == request.user.userFullName or objectbuild.objectBuildScorerB == None %}
          {% if objectbuild.objectBuildScorerA != request.user.userFullName and objectbuild.objectBuildScorerC != request.user.userFullName %}
            <a href="javascript:void(0)" onclick="land_modal_edit('{% url 'yfcase:score_b_edit' objectbuild.id %}')">
              <span class="fa-stack" style="color:DarkGreen;">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-pen fa-stack-1x"></i>
              </span>
            </a>
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員B編輯(end)-->
      
      <!-- 測試加成B項目係數顯示格式(start) -->
      <td>
        <!-- 測試加成項目係數顯示格式 -->
        {% if objectbuild.plusItemB1 %}
          {% if objectbuild.plusValueB1 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueB1 }}){{ objectbuild.plusItemB1 }}<br></div>
          {% elif objectbuild.plusValueB1 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueB1|zeroNegative }}){{ objectbuild.plusItemB1 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemB2 %}
          {% if objectbuild.plusValueB2 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueB2 }}){{ objectbuild.plusItemB2 }}<br></div>
          {% elif objectbuild.plusValueB2 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueB2|zeroNegative }}){{ objectbuild.plusItemB2 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemB3 %}
          {% if objectbuild.plusValueB3 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueB3 }}){{ objectbuild.plusItemB3 }}<br></div>
          {% elif objectbuild.plusValueB3 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueB3|zeroNegative }}){{ objectbuild.plusItemB3 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemB4 %}
          {% if objectbuild.plusValueB4 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueB4 }}){{ objectbuild.plusItemB4 }}<br></div>
          {% elif objectbuild.plusValueB4 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueB4|zeroNegative }}){{ objectbuild.plusItemB4 }}<br></div>
          {% endif %}
        {% endif %}
        {% if objectbuild.plusItemB5 %}
          {% if objectbuild.plusValueB5 >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueB5 }}){{ objectbuild.plusItemB5 }}<br></div>
          {% elif objectbuild.plusValueB5 < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueB5|zeroNegative }}){{ objectbuild.plusItemB5 }}<br></div>
          {% endif %}
        {% endif %}

        {% if objectbuild.plusItemOtherB %}
          {% if objectbuild.plusValueOtherA >= 0 %}
            <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueOtherB }}){{ objectbuild.plusItemOtherB }}<br></div>
          {% elif objectbuild.plusValueOtherA < 0 %}
            <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueOtherB|zeroNegative }}){{ objectbuild.plusItemOtherB }}<br></div>
          {% endif %}
        {% endif %}
      </td>
      <!-- 測試加成B項目係數顯示格式(end) -->
      
      <!--加成係數B(start)-->
      <td>
        {% if objectbuild.objectBuildScorerB != None %}
        {{objectbuild.get_b_plus_value|floatformat:2 }}
        {% endif %}
      </td>
      <!--加成係數B(end)-->
      
    </tr>
    <tr>
      <!--加成人員C-該員已評/該員未評(start)-->
      <td>
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
          {% if objectbuild.objectBuildScorerC == None %}
            {% if request.user.userFullName == objectbuild.objectBuildScorerA or request.user.userFullName == objectbuild.objectBuildScorerB %}
              <div style="color:brown;">該員已評</div>
            {% endif %}
          {% else %}
            {{ objectbuild.objectBuildScorerC }}
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員C-該員已評/該員未評(end)-->
      
      <!--加成人員C刪除(start)-->
      <td style="width:4%;">
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
          {% if objectbuild.objectBuildScorerC != None %}
            <!-- 如果登入者=案件建立者或是管理者，就執行下列的動作 -->
            {% if request.user.userFullName == object.get_user_username or request.user.userFullName == "管理者" %}
              <a href="javascript:void(0)" onclick="land_modal_delete('{% url 'yfcase:score_c_delete' objectbuild.id %}')">
                <span class="fa-stack" style="color:DarkRed;">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-trash fa-stack-1x"></i>
                </span>
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員C刪除(end)-->
      
      <!--加成人員C編輯(start)-->
      <td style="width:4%;">
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
          {% if objectbuild.objectBuildScorerC == request.user.userFullName or objectbuild.objectBuildScorerC == None %}
            {% if objectbuild.objectBuildScorerA != request.user.userFullName and objectbuild.objectBuildScorerB != request.user.userFullName %}
              <a href="javascript:void(0)" onclick="land_modal_edit('{% url 'yfcase:score_c_edit' objectbuild.id %}')">
                <span class="fa-stack" style="color:DarkGreen;">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-pen fa-stack-1x"></i>
                </span>
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      </td>
      <!--加成人員C編輯(end)-->
      
      <!-- 測試加成C項目係數顯示格式(start) -->
      <td>
        <!-- 測試加成項目係數顯示格式 -->
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
          {% if objectbuild.plusItemC1 %}
            {% if objectbuild.plusValueC1 >= 0 %}
              <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueC1 }}){{ objectbuild.plusItemC1 }}<br></div>
            {% elif objectbuild.plusValueC1 < 0 %}
              <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueC1|zeroNegative }}){{ objectbuild.plusItemC1 }}<br></div>
            {% endif %}
          {% endif %}
          {% if objectbuild.plusItemC2 %}
            {% if objectbuild.plusValueC2 >= 0 %}
              <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueC2 }}){{ objectbuild.plusItemC2 }}<br></div>
            {% elif objectbuild.plusValueC2 < 0 %}
              <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueC2|zeroNegative }}){{ objectbuild.plusItemC2 }}<br></div>
            {% endif %}
          {% endif %}
          {% if objectbuild.plusItemC3 %}
            {% if objectbuild.plusValueC3 >= 0 %}
              <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueC3 }}){{ objectbuild.plusItemC3 }}<br></div>
            {% elif objectbuild.plusValueC3 < 0 %}
              <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueC3|zeroNegative }}){{ objectbuild.plusItemC3 }}<br></div>
            {% endif %}
          {% endif %}
          {% if objectbuild.plusItemC4 %}
            {% if objectbuild.plusValueC4 >= 0 %}
              <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueC4 }}){{ objectbuild.plusItemC4 }}<br></div>
            {% elif objectbuild.plusValueC4 < 0 %}
              <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueC4|zeroNegative }}){{ objectbuild.plusItemC4 }}<br></div>
            {% endif %}
          {% endif %}
          {% if objectbuild.plusItemC5 %}
            {% if objectbuild.plusValueC5 >= 0 %}
              <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueC5 }}){{ objectbuild.plusItemC5 }}<br></div>
            {% elif objectbuild.plusValueC5 < 0 %}
              <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueC5|zeroNegative }}){{ objectbuild.plusItemC5 }}<br></div>
            {% endif %}
          {% endif %}

          {% if objectbuild.plusItemOtherC %}
            {% if objectbuild.plusValueOtherA >= 0 %}
              <div style="color:blue;text-align: left;">&#10148 (+{{ objectbuild.plusValueOtherC }}){{ objectbuild.plusItemOtherC }}<br></div>
            {% elif objectbuild.plusValueOtherA < 0 %}
              <div style="color:red;text-align: left;">&#10148 (&#8211;{{ objectbuild.plusValueOtherC|zeroNegative }}){{ objectbuild.plusItemOtherC }}<br></div>
            {% endif %}
          {% endif %}
        {% endif %}
      </td>
      <!-- 測試加成C項目係數顯示格式(end) -->
      
      <!--加成係數C(start)-->
      <td>
        {% if object.get_floor_price_from_auction_date >= 1000000 %}
        {% if objectbuild.objectBuildScorerC != None %}
        {{objectbuild.get_c_plus_value|floatformat:2 }}
        {% endif %}
        {% endif %}
      </td>
      <!--加成係數BCend)-->
      
    </tr>
    {% endfor %}
  </table>
  
  <!--加成係數為累進相乘說明(start)-->
  <small style="color:red;"><b>※ 加成係數為累進相乘，例：單價=300000元/加成係數分別為-0.09及+0.05，其計算式=300000*(1+(-0.09))*(1+(+0.05))=286650</b></small>
  <!--加成係數為累進相乘說明(end)-->
  
</div>

<!-- Build Modal -->
<div class="modal fade" id="editScoreModal" role="dialog"></div>
<div class="modal fade" id="deleteScoreModal" role="dialog"></div>

{% block javascript %}
<script>
  /* global $*/
  // Build JS
  function score_modal_edit(url) {
    $('#editScoreModal').load(url, function() {
      $(this).modal('show')
    })
  }
  
  function score_modal_delete(url) {
    $('#deleteScoreModal').load(url, function() {
      $(this).modal('show')
    })
  }
</script>
{% endblock %}