body{
  font-size: 10pt;
}

.table-bar {
  /*max-width: 940px;*/
  margin-left: auto;
  margin-right: auto;
}

table{
  font-family: sans-serif;
  border-collapse: collapse;
}

th{
  background-color: #333;
  color: #fff;
}

th, td{
  padding: .8rem;
  font-size: 12pt;
  
}

tbody{
  background-color: #eee;
  color: #555;
}


@media screen and (max-width: 600px){
  thead{
    display: none;
  }

  td{
    display: block;
    padding:6px;
    border-bottom: 1px solid gray;
  }

  td:first-child{
    background-color: #333;
    color: #fff;
    text-align: center;  
    width: 100%
  }
  
  td:nth-child(2)::before{
    content: "兩週內";
  }

  td:nth-child(3)::before{
    content: "負責人";
  }

  td:nth-child(4)::before{
    content: "判定";
  }

  td:nth-child(5)::before{
    content: "執行結果";
  }
  
  td:nth-child(6)::before{
    content: "優購結果";
  }
  
  td:nth-child(7)::before{
    content: "標的編號";
  }

  td{
    text-align: right;
  }

  td::before{
    float: left;
    margin-right: 3rem;
    font-weight: bold;
  }
}